@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Robuto", sans-serif;
  background-color: blanchedalmond;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: cadetblue;
  height: 200px;
  width: 400px;
  margin-bottom: 50px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 4px 5px cornflowerblue;
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h3 {
  font-size: 40px;
}
